.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  margin-top: 40px;
}

.spinner > div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

section h1{
  margin-top: -50px;
}

body{
  padding-top: 50px;
  font-family: 'Archivo', sans-serif;

  background-image: url("../images/background.jpg");
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-attachment: fixed;
}

section{
  text-align: center;
  height: auto;
  width: fit-content;
  margin: auto;
  background-color: rgba(51, 51, 51, 0.97);
  padding: 50px;
  border-radius: 15px;
  color: #ccc;
  /* box-shadow: 7px 7px 15px #111; */
}

.fb:hover{
  color: rgb(80, 97, 166);
  transition: 500ms;
}

.ig:hover .ig-icon{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 0;
  transition: all 500ms ease;
}

.ig-icon{
  background-position: 0 -15px;
}

.texto{
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  color: #ccc;
}
